name: Firebase Deployment

on:
    push:
        branches:
            - main

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2.3.2

            - name: Install Dependencies
              run: npm install

            - name: Build
              env:
                  CI: false
              run: npm run build

            - name: Archive Production Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: out
                  path: out

    deploy:
      name: Deploy
      needs: build
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Repo
          uses: actions/checkout@v4
    
        - name: Download Artifact
          uses: actions/download-artifact@v4
          with:
            name: out
            path: out
    
        - name: Setup Firebase credentials
          run: |
            echo '${{ secrets.FIREBASE_TOKEN }}' > $HOME/firebase-key.json
    
        - name: Install Firebase CLI
          run: npm install -g firebase-tools
    
        - name: Deploy to Firebase Hosting
          env:
            GOOGLE_APPLICATION_CREDENTIALS: $HOME/firebase-key.json
          run: firebase deploy --only hosting:official-web-site-ae6cc
